.VivariumContainer {
	position: relative;
}

.VivariumCanvas {
	background: black;
	display: block;
}

.VivariumMenu {
	margin: 5px 0;
}

.VivariumButton {
	cursor: pointer;
	display: inline;
	margin-right: 7px;
	padding: 5px;
}

.VivariumButton.active {
	background: #a7dcff;
}

.VivariumGenerationCounter {
	color: white;
	font-size: small;
	position: absolute;
	top: 5px; left: 5px;
}

.VivariumPopulationCounter {
	color: white;
	font-size: small;
	position: absolute;
	top: 20px; left: 5px;
}