.VivariumCanvas {
	background: black;
	display: block;
}

.VivariumMenu {
	margin: 5px 0;
}

.VivariumMenu .button {
	cursor: pointer;
	display: inline;
	margin-right: 7px;
	padding: 5px;
}

.VivariumMenu .button.active {
	background: #a7dcff;
}

.VivariumGenerationCounter {
	float: right;
	line-height: 16px;
	padding: 5px;
}